<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<description>Email配置</description>

	<!-- 文本邮件服务类 -->
	<bean id="simpleMailService" class="com.shirokumacafe.archetype.common.utilities.SimpleMailService">
		<property name="mailSender" ref="mailSender" />

	</bean>
    <bean id="mimeMailService" class="com.shirokumacafe.archetype.common.utilities.MimeMailService">
        <property name="mailSender" ref="mailSender" />
        <property name="registerTemplate">
            <value>
                <![CDATA[

			    ]]>
            </value>
        </property>
    </bean>

	<beans profile="production,development">
		<!-- 邮件发送器 -->
		<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
			<property name="host" value="smtp.qq.com" />
			<property name="username" value="" />
			<property name="password" value="" />
			<property name="defaultEncoding" value="UTF-8"/>
			<property name="javaMailProperties">
				<props>
					<prop key="mail.smtp.auth">true</prop>
					<prop key="mail.smtp.starttls.enable">true</prop>
				</props>
			</property>
		</bean>
	</beans>

</beans>
