h1.testTitle {
    font-size:2em;
    margin:0 0 1em 0;
}
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
}
#main {
    height: 100%;
    width: 100%;
    border: 0;
}
#header {
    margin: 0;
}

#bottomTabs {
    height: 40%;
}
#hs-1width {
    width:400px;
    height:40px;
}
#loader {
    padding:0;
    margin:0;
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background:#ededed;
    z-index:999;
    vertical-align:middle;
}
#loaderInner {
    padding:5px;
    position:relative;
    left:0;
    top:0;
    width:175px;
    background:#3c3;
    color:#fff;
}
#indTestBar,
#setTestBar {
    width:400px;
}
hr.spacer {
    border:0;
    background-color:#ededed;
    width:80%;
    height:1px;
}
.inputPadding0 .dijitInputField {
    padding: 0 !important;
}
.inputPadding1 .dijitInputField {
    padding: 1px !important;
}
.inputPadding2 .dijitInputField {
    padding: 2px !important;
}
.inputPadding3 .dijitInputField {
    padding: 3px !important;
}
.inputPadding4 .dijitInputField {
    padding: 4px !important;
}
.inputPadding5 .dijitInputField {
    padding: 5px !important;
}
/*#loader {*/
/*padding:0;*/
/*margin:0;*/
/*position:absolute;*/
/*top:0; left:0;*/
/*width:100%; height:100%;*/
/*background:#efefef;*/
/*opacity: 0.98;*/
/*z-index:999;*/
/*vertical-align:middle;*/
/*}*/
/*#loaderInner {*/
/*padding: 25px 40px;*/
/*position:absolute;*/
/*left:40%;*/
/*top:50%;*/
/*background: #fff url('http://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;*/
/*}*/