@charset "utf-8";

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow:hidden;
}

#loader {
    padding:0;
    margin:0;
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background:#ededed;
    z-index:999;
    vertical-align:middle;
}
#loaderInner {
    padding:5px;
    position:relative;
    left:0;
    top:0;
    width:200px;
    background:#3c3;
    color:#fff;
}
.borderContainer {
    height: 100%;
    width: 100%;
}
.dijitContentPane .p1 {
    padding:1px;
}
.dijitDialogPaneContentArea label {
    display:inline-block;
    /**display:inline;*/
    zoom:1;
    width: 100px;
    text-align: right;
    line-height: 26px;
}
.dgrid {
    height: auto;
}
.dgrid .dgrid-scroller {
    position: relative;
    overflow: hidden;
}
